.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ctc-button{
    background-color: chartreuse;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
}

.ctc-button a{
    text-decoration: none;
    color: black;
}

.ctc-button:hover{
    background-color: black;
}

.ctc-button a:hover{
    text-decoration: none;
    color: chartreuse;
}

.name{
    font-size: 40px;
}
